*.exe
*.dll
*.msi
*.zip
*.suo

/.vs/
/.tx/

/LocalizationPack/**/*.resx
/LocalizationPack/**/*.pdf
/LocalizationPack/ZetaResourceEditor/

/SimpleDeFence.suo
/SimpleDeFence.v11.suo

/SimpleDeFence/obj/
/SimpleDeFence/bin/

/Microsoft.Samples/obj/
/Microsoft.Samples/bin/

/SimpleDeFence.Utilities/obj/
/SimpleDeFence.Utilities/bin/

/SimpleDeFence.Windows/obj/
/SimpleDeFence.Windows/bin/

/SimpleDeFence.Windows.Services/obj/
/SimpleDeFence.Windows.Services/bin/

/SimpleDeFence.Windows.WFP/bin/
/SimpleDeFence.Windows.WFP/obj/

/MsiSetup/obj/
/MsiSetup/bin/
/MsiSetup/Sources/ProgramFiles/
