<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- String constants -->
  <?define ProductName="SimpleDeFence" ?>
  <?define Manufacturer="fcoltro" ?>
  <?define Description="A non-intrusive firewall solution. Fork of TinyWall." ?>
  <?define ProductURL="https://github.com/fcoltro/SimpleDeFence" ?>
  <?define ReleaseNotesURL="https://raw.githubusercontent.com/fcoltro/SimpleDeFence/refs/heads/main/Changelog.txt" ?>
  <?define ProductVersion="!(bind.fileVersion.TinyWallEXE)" ?>
  <?define OldestUpgradeableVersion="3.0.0.0" ?>

  <!-- Architecture selection -->
  <?if $(var.Platform) = x64 ?>
    <?define BuildArch="x64" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define NgenBitness = "64bit" ?>
    <?define System32Dir = "System64Folder" ?>
  <?elseif $(var.Platform) = "arm64"?>
	<?define BuildArch="arm64" ?>
	<?define Win64 = "yes" ?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?define NgenBitness = "64bit" ?>
	<?define System32Dir = "System64Folder" ?>
  <?elseif $(var.Platform) = "x86"?>
    <?define BuildArch="x86" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define NgenBitness = "32bit" ?>
    <?define System32Dir = "SystemFolder" ?>
  <?endif ?>

  <Product Id="*" Codepage="1250" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="{5D6FBFAF-3552-4F7D-9ABF-79F04E73661C}">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1250" Description="$(var.Description)" Manufacturer="$(var.Manufacturer)" />

    <!-- Automatic media generation and assignment -->
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- Add/Remove Programs -->
    <Property Id="ARPPRODUCTICON" Value="TinyWallIcon.exe" />
    <Property Id="ARPCOMMENTS" Value="$(var.Description)" />
    <Property Id="ARPCONTACT" Value="$(var.Manufacturer)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.ProductURL)" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" /> 
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <!-- Disable use of "Files in Use" dialogs, we manage that ourself over custom actions -->
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <!-- Windows version detection -->
    <Property Id="WINDOWSBUILDNUMBER" Secure="yes">
      <RegistrySearch Id="BuildNumberSearch" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" />
    </Property>
    <Condition Message="This application requires Windows 10 version 21H2 (build 19044) or newer.">
      <![CDATA[Installed OR (WINDOWSBUILDNUMBER >= 19044)]]>
    </Condition>

    <!-- .Net Framework detection -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED"/>
    <Condition Message='This application requires .NET Framework 4.8 to be installed.'>
      <![CDATA[WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED]]>
    </Condition>

    <!-- Feature description -->
    <Feature Id="ProductFeature" Title="Complete" Description="The complete package." ConfigurableDirectory="INSTALLDIR" Level="1">
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='MainExecutableConfig' />
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='RemoveAppDataDir' />
      <ComponentRef Id='RegistryKeys' />
      <ComponentRef Id='License' />
      <ComponentRef Id='Attributions' />
      <ComponentRef Id='Database' />
      <ComponentRef Id='hosts' />
      <ComponentGroupRef Id='Dependencies' />
      <ComponentGroupRef Id='Localizations' />
      <ComponentGroupRef Id='Documentation' />
    </Feature>

    <!-- Search for older versions -->
    <Property Id="OLDER_INCOMPATIBLE_FOUND" Secure="yes" />
    <Property Id="OLDER_UPGRADEABLE_FOUND" Secure="yes" />
    <Property Id="SELF_FOUND" Secure="yes" />
    <Property Id="NEWER_FOUND" Secure="yes" />
    <Upgrade Id='{5D6FBFAF-3552-4F7D-9ABF-79F04E73661C}'>
      <UpgradeVersion OnlyDetect='yes' Property='OLDER_INCOMPATIBLE_FOUND'
        Maximum="$(var.OldestUpgradeableVersion)" IncludeMaximum='no' />
      <UpgradeVersion Property='OLDER_UPGRADEABLE_FOUND'
        Minimum="$(var.OldestUpgradeableVersion)" IncludeMinimum='yes'
        Maximum="$(var.ProductVersion)" IncludeMaximum='no' />
      <UpgradeVersion OnlyDetect='yes' Property='SELF_FOUND'
        Minimum="$(var.ProductVersion)" IncludeMinimum='yes'
        Maximum="$(var.ProductVersion)" IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWER_FOUND'
        Minimum="$(var.ProductVersion)" IncludeMinimum='no' />
    </Upgrade>

    <!-- Custom actions -->
    <CustomAction Id='FoundIncompatibleVersion' Error='An older version of $(var.ProductName) is installed that cannot be automatically updated. Please uninstall the existing version first, then try again.' />
    <CustomAction Id='FoundNewerVersion' Error='A newer version of $(var.ProductName) is already installed. Installation cannot continue.' />
    <CustomAction Id='InstallCustom' FileKey='TinyWallEXE' ExeCommand='/install' Return='check' Execute='commit' Impersonate='no' />
    <CustomAction Id='InstallCustomRollback' FileKey='TinyWallEXE' ExeCommand='/uninstall' Return='check' Execute='rollback' Impersonate='no' />
    <CustomAction Id='UninstallCustom' FileKey='TinyWallEXE' ExeCommand='/uninstall' Return='check' Execute='deferred' Impersonate='no' />
    <CustomAction Id='StartControllerAndDetect' FileKey='TinyWallEXE' ExeCommand='/autowhitelist' Return='asyncNoWait' Execute='commit' />
    <CustomAction Id='StartController' FileKey='TinyWallEXE' ExeCommand='' Return='asyncNoWait' Execute='commit' />

    <!-- Sequencing -->
    <InstallExecuteSequence>
      <!-- FindRelatedProducts -->
      <Custom Action='FoundNewerVersion' After='FindRelatedProducts'>NEWER_FOUND</Custom>
      <Custom Action='FoundIncompatibleVersion' After='FindRelatedProducts'>OLDER_INCOMPATIBLE_FOUND</Custom>
      <!-- InstallValidate -->
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
      <RemoveExistingProducts After='InstallValidate'>OLDER_UPGRADEABLE_FOUND</RemoveExistingProducts>
      <!-- InstallInitialize -->
      <Custom Action='UninstallCustom' Before='UnpublishFeatures'>Installed</Custom>
      <Custom Action='InstallCustomRollback' Before='InstallCustom'>NOT Installed</Custom>
      <Custom Action='InstallCustom' Before='InstallFinalize'>NOT Installed</Custom>
      <Custom Action='StartControllerAndDetect' After='InstallCustom'>(NOT Installed) AND (NOT OLDER_UPGRADEABLE_FOUND)</Custom>
      <Custom Action='StartController' After='InstallCustom'>(NOT Installed) AND OLDER_UPGRADEABLE_FOUND</Custom>
      <!-- InstallFinalize -->
    </InstallExecuteSequence>

    <!-- Sequencing -->
    <InstallUISequence>
      <Custom Action='FoundNewerVersion' After='FindRelatedProducts'>NEWER_FOUND</Custom>
      <Custom Action='FoundIncompatibleVersion' After='FoundNewerVersion'>OLDER_INCOMPATIBLE_FOUND</Custom>
    </InstallUISequence>

    <!-- UI definition and overrides -->
    <UIRef Id="WixUI_InstallDir_Custom" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value='The default configuration of SimpleDeFence is to block most programs. If an application is unable to access the network, remember to use one of the "Whitelist by..." options from the tray menu.' />
    <WixVariable Id="WixUILicenseRtf" Value="Sources\ProgramFiles\SimpleDeFence\License.rtf" />

  </Product>

  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Program Files -->
      <Directory Id="$(var.PlatformProgramFilesFolder)" Name="ProgramFiles">
        <Directory Id="INSTALLDIR" Name="SimpleDeFence">
          <Component Id="MainExecutable" Guid="{422FE697-4CCC-4B6C-B5E6-F4BB54CC1AF3}" Win64="$(var.Win64)">
            <File Id="TinyWallEXE" Source="Sources\ProgramFiles\SimpleDeFence\SimpleDeFence.exe" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="MainExecutableConfig" Guid="{D8D025D6-8EAB-4AA7-B77D-83EA96B40DE4}" Win64="$(var.Win64)">
            <File Id="TinyWallCONFIG" Source="Sources\ProgramFiles\SimpleDeFence\SimpleDeFence.exe.config" KeyPath="yes" />
          </Component>
          <Component Id="Microsoft_Bcl_AsyncInterfaces_Lib" Guid="{2F512105-6A4B-4383-9A40-083CB0561BE5}" Win64="$(var.Win64)">
            <File Id="Microsoft_Bcl_AsyncInterfaces_dll" Source="Sources\ProgramFiles\SimpleDeFence\Microsoft.Bcl.AsyncInterfaces.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Buffers_Lib" Guid="{C57EA79A-D53D-4C96-8120-C2D030F39D13}" Win64="$(var.Win64)">
            <File Id="System_Buffers_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Buffers.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Memory_Lib" Guid="{D1BD8A4C-D66C-4EDF-A414-DD81CC18325A}" Win64="$(var.Win64)">
            <File Id="System_Memory_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Memory.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Numerics_Vectors_Lib" Guid="{A4C268C7-2199-4561-86ED-533A5A7CBE45}" Win64="$(var.Win64)">
            <File Id="System_Numerics_Vectors_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Numerics.Vectors.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Runtime_CompilerServices_Unsafe_Lib" Guid="{20D4C69C-DBE1-4DF1-9666-029DCE207E93}" Win64="$(var.Win64)">
            <File Id="System_Runtime_CompilerServices_Unsafe_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Runtime.CompilerServices.Unsafe.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Text_Encodings_Web_Lib" Guid="{FA88A627-F2E3-47BF-A245-79B72D91F448}" Win64="$(var.Win64)">
            <File Id="System_Text_Encodings_Web_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Text.Encodings.Web.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Text_Json_Lib" Guid="{A95856BD-5B66-4CAE-8870-1EA5CF3CFAD6}" Win64="$(var.Win64)">
            <File Id="System_Text_Json_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Text.Json.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_Threading_Tasks_Extensions_Lib" Guid="{AA5566BE-26F8-483C-8F16-008AE947B1D0}" Win64="$(var.Win64)">
            <File Id="System_Threading_Tasks_Extensions_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.Threading.Tasks.Extensions.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="System_ValueTuple_Lib" Guid="{61BA9FB8-3CF5-462D-8097-0829F724619F}" Win64="$(var.Win64)">
            <File Id="System_ValueTuple_dll" Source="Sources\ProgramFiles\SimpleDeFence\System.ValueTuple.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="License" Guid="{205DCF42-A705-401A-9868-015BA855B5DB}" Win64="$(var.Win64)">
            <File Id="LicenseRTF" Source="Sources\ProgramFiles\SimpleDeFence\License.rtf" KeyPath="yes" />
          </Component>
          <Component Id="Attributions" Guid="{2FE1A628-B97D-4C67-B240-F1A0971310EB}" Win64="$(var.Win64)">
            <File Id="AttributionsTXT" Source="Sources\ProgramFiles\SimpleDeFence\Attributions.txt" KeyPath="yes" />
          </Component>
          <Directory Id="LOCDIR_bg" Name="bg">
            <Component Id="LocSatelliteLib_bg" Guid="{3BE9AF16-BF40-4EAA-B49A-89435CC379BD}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_bg" Source="Sources\ProgramFiles\SimpleDeFence\bg\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_es" Name="es">
            <Component Id="LocSatelliteLib_es" Guid="{8EBCFDB2-3734-4496-AC84-7F37B797BCAE}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_es" Source="Sources\ProgramFiles\SimpleDeFence\es\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_cs" Name="cs">
            <Component Id="LocSatelliteLib_cs" Guid="{09F0151C-FB6D-4273-BD5D-5A52914117D1}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_cs" Source="Sources\ProgramFiles\SimpleDeFence\cs\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_heIL" Name="he-IL">
            <Component Id="LocSatelliteLib_heIL" Guid="{309054DE-DDD1-4E41-84C7-CF8E8ED375CE}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_heIL" Source="Sources\ProgramFiles\SimpleDeFence\he-IL\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_hu" Name="hu">
            <Component Id="LocSatelliteLib_hu" Guid="{6E827904-C113-40AA-9549-E7EF1D740DED}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_hu" Source="Sources\ProgramFiles\SimpleDeFence\hu\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_fr" Name="fr">
            <Component Id="LocSatelliteLib_fr" Guid="{F78CB9E7-2CF4-47CD-AB3F-BAB6B86C45DE}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_fr" Source="Sources\ProgramFiles\SimpleDeFence\fr\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ja" Name="ja">
            <Component Id="LocSatelliteLib_ja" Guid="{AB1F4842-62C8-4D6D-8AA7-E689DD466ED9}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ja" Source="Sources\ProgramFiles\SimpleDeFence\ja\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_de" Name="de">
            <Component Id="LocSatelliteLib_de" Guid="{AEBFC401-59D1-4238-9E00-479A0EA4E533}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_de" Source="Sources\ProgramFiles\SimpleDeFence\de\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_nl" Name="nl">
            <Component Id="LocSatelliteLib_nl" Guid="{50960D7D-9644-4408-BA53-32F87CEF5528}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_nl" Source="Sources\ProgramFiles\SimpleDeFence\nl\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ko" Name="ko">
            <Component Id="LocSatelliteLib_ko" Guid="{81C4CEFD-9A1E-4FF2-8A34-5F39E2106D0F}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ko" Source="Sources\ProgramFiles\SimpleDeFence\ko\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_pl" Name="pl">
            <Component Id="LocSatelliteLib_pl" Guid="{1EA37B03-88AE-403F-B325-740B0B0F80B3}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_pl" Source="Sources\ProgramFiles\SimpleDeFence\pl\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ru" Name="ru">
            <Component Id="LocSatelliteLib_ru" Guid="{7ED279CF-98B5-442A-A09A-CC73F6A14978}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ru" Source="Sources\ProgramFiles\SimpleDeFence\ru\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ptBR" Name="pt-BR">
            <Component Id="LocSatelliteLib_ptBR" Guid="{6FA8130D-C267-403B-AC1A-73204ED4F579}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ptBR" Source="Sources\ProgramFiles\SimpleDeFence\pt-BR\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_it" Name="it">
            <Component Id="LocSatelliteLib_it" Guid="{5F552D3B-CF30-48F7-AE48-EC9EF14CD6A4}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_it" Source="Sources\ProgramFiles\SimpleDeFence\it\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_tr" Name="tr">
            <Component Id="LocSatelliteLib_tr" Guid="{3B2CF05B-B23C-4CC0-B2F7-98D1AD35E103}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_tr" Source="Sources\ProgramFiles\SimpleDeFence\tr\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_uk" Name="uk">
            <Component Id="LocSatelliteLib_uk" Guid="{81BA36CA-2F0F-49A2-8543-BFECF27ECCB4}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_uk" Source="Sources\ProgramFiles\SimpleDeFence\uk\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_zh" Name="zh">
            <Component Id="LocSatelliteLib_zh" Guid="{82D0CD05-1024-41EF-B491-FA2A13DFB088}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_zh" Source="Sources\ProgramFiles\SimpleDeFence\zh\SimpleDeFence.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="DOCDIR" Name="doc">
            <Component Id="DocFAQComp" Win64="$(var.Win64)">
              <File Id="DocFAQFile" Source="Sources\ProgramFiles\SimpleDeFence\doc\faq.html" Vital="yes" KeyPath="yes" Checksum="yes" />
            </Component>
            <Directory Id="DOCCSSDIR" Name="css">
              <Component Id="DocCss00Comp" Win64="$(var.Win64)">
                <File Id="DocCss00File" Source="Sources\ProgramFiles\SimpleDeFence\doc\css\1140.css" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
              <Component Id="DocCss02Comp" Win64="$(var.Win64)">
                <File Id="DocCss02File" Source="Sources\ProgramFiles\SimpleDeFence\doc\css\style.css" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- ProgramData -->
      <Directory Id="CommonAppDataFolder" Name="CommonAppData">
        <Directory Id="AppDataDir" Name="SimpleDeFence">
          <Component Id="Database" Guid="{93D21865-93BD-4DF0-85FA-7DF5CD4BAB74}" Win64="$(var.Win64)">
            <File Id="DatabaseJson" Source="Sources\CommonAppData\SimpleDeFence\profiles.json" Vital="yes" KeyPath="yes" />
          </Component>
          <Component Id="hosts" Guid="{F3ABB78F-BA69-47E0-98B4-439C74018233}" Win64="$(var.Win64)">
            <File Id="HostsBCK" Source="Sources\CommonAppData\SimpleDeFence\hosts.bck" Vital="yes" KeyPath="yes" />
          </Component>
          <Component Id="RemoveAppDataDir" Guid="{602DBDBF-489B-4F86-849B-30FDBE6D5EFF}" Win64="$(var.Win64)" Transitive="yes">
            <RemoveFile Id="AppDataDirFiles" On='install' Name='*' />
            <RemoveFolder Id="AppDataDirFolder" On='install' />
            <Condition><![CDATA[NOT OLDER_UPGRADEABLE_FOUND]]></Condition>
          </Component>
        </Directory>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
          <Component Id="ProgramMenuDir" Guid="{5A29C3A4-558D-498B-95A4-1FCC24DA2EFB}" Win64="$(var.Win64)">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[ProductName]' Type='string' Value='' KeyPath='yes' />
            <Shortcut Id="ControllerShortcut" Icon="TinyWallIcon.exe" Directory="ProgramMenuDir" Name="SimpleDeFence Controller" Target="[INSTALLDIR]SimpleDeFence.exe">
              <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 5" Value="fcoltro.SimpleDeFence.Controller" /> <!-- System.AppUserModel.ID -->
              <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 12" Value="1" />                         <!-- System.AppUserModel.StartPinOption, http://support.microsoft.com/kb/2745126/en-us -->
              <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 8" Value="1" />                          <!-- System.AppUserModel.ExcludeFromShowInNewInstall -->
            </Shortcut>
            <Shortcut Id="DevelToolShortcut" Icon="TinyWallIcon.exe" Directory="ProgramMenuDir" Name="SimpleDeFence Dev Helper" Arguments="/develtool" Target="[INSTALLDIR]SimpleDeFence.exe">
              <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 5" Value="fcoltro.SimpleDeFence.DevelTool" />  <!-- System.AppUserModel.ID -->
              <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 12" Value="1" />                         <!-- System.AppUserModel.StartPinOption, http://support.microsoft.com/kb/2745126/en-us -->
              <ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 8" Value="1" />                          <!-- System.AppUserModel.ExcludeFromShowInNewInstall -->
            </Shortcut>
            <Shortcut Id="FAQShortcut" Directory="ProgramMenuDir" Name="FAQ" Target="[INSTALLDIR]doc\faq.html"/>
            <util:InternetShortcut Id="WebsiteShortcut" Name="Website" Target="$(var.ProductURL)"/>
            <util:InternetShortcut Id="ReleaseNotesShortcut" Name="Release Notes" Target="$(var.ReleaseNotesURL)"/>
            <!-- <Shortcut Id="UninstallProduct"
                      Name="Uninstall SimpleDeFence"
                      Target="[$(var.System32Dir)]msiexec.exe"
                      Arguments="/x [ProductCode]" /> -->
          </Component>
        </Directory>
      </Directory>

    </Directory>

    <!-- Registry -->
    <Component Id="RegistryKeys" Guid="{6653D907-039F-40A3-A4F5-90DAB4E78028}" Directory="INSTALLDIR" Win64="$(var.Win64)">
      <RegistryKey Id='RegInstallDir' Root='HKLM' Key='Software\SimpleDeFence' ForceDeleteOnUninstall='yes'>
        <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
      </RegistryKey>
    </Component>

    <!-- Icons -->
    <Icon Id="TinyWallIcon.exe" SourceFile="Sources\ProgramFiles\SimpleDeFence\SimpleDeFence.ico" />

    <!-- Dependencies groupping -->
    <ComponentGroup Id="Dependencies">
      <ComponentRef Id="Microsoft_Bcl_AsyncInterfaces_Lib"/>
      <ComponentRef Id="System_Buffers_Lib"/>
      <ComponentRef Id="System_Memory_Lib"/>
      <ComponentRef Id="System_Numerics_Vectors_Lib"/>
      <ComponentRef Id="System_Runtime_CompilerServices_Unsafe_Lib"/>
      <ComponentRef Id="System_Text_Encodings_Web_Lib"/>
      <ComponentRef Id="System_Text_Json_Lib"/>
      <ComponentRef Id="System_Threading_Tasks_Extensions_Lib"/>
      <ComponentRef Id="System_ValueTuple_Lib"/>
    </ComponentGroup>

    <!-- Localization groupping -->
    <ComponentGroup Id="Localizations">
      <ComponentRef Id="LocSatelliteLib_bg"/>
      <ComponentRef Id="LocSatelliteLib_es"/>
      <ComponentRef Id="LocSatelliteLib_cs"/>
      <ComponentRef Id="LocSatelliteLib_heIL"/>
      <ComponentRef Id="LocSatelliteLib_hu"/>
      <ComponentRef Id="LocSatelliteLib_fr"/>
      <ComponentRef Id="LocSatelliteLib_ja"/>
      <ComponentRef Id="LocSatelliteLib_de"/>
      <ComponentRef Id="LocSatelliteLib_nl"/>
      <ComponentRef Id="LocSatelliteLib_ko"/>
      <ComponentRef Id="LocSatelliteLib_ru"/>
      <ComponentRef Id="LocSatelliteLib_it"/>
      <ComponentRef Id="LocSatelliteLib_uk"/>
      <ComponentRef Id="LocSatelliteLib_zh"/>
      <ComponentRef Id="LocSatelliteLib_ptBR"/>
      <ComponentRef Id="LocSatelliteLib_pl"/>
      <ComponentRef Id="LocSatelliteLib_tr"/>
    </ComponentGroup>

    <!-- Documentation groupping -->
    <ComponentGroup Id="Documentation">
      <ComponentRef Id="DocFAQComp"/>
      <ComponentRef Id="DocCss00Comp"/>
      <ComponentRef Id="DocCss02Comp"/>
    </ComponentGroup>
    
  </Fragment>

</Wix>